<div class="container mt-5" *ngIf="(tools$ | async | filterSearch: parametersSearch) as tools; else loading">
  <div class="row mb-3">
    <div class="col-md-8">
      <app-search-tools (searchTerm)="filter = $event" 
                        (searchOnlyTags)="searchOnlyTags($event)"
                        [valueSearch]="filter">
      </app-search-tools>
    </div>
    <div class="col-md-2 offset-md-2">
      <button (click)="openModalAddTool(addTool)" class="btn custom-button btn-block">
        <i class="fa fa-plus"></i> Add
      </button>
    </div>
  </div>
  
  <app-card-tool *ngFor="let tool of tools" [tool]="tool"></app-card-tool>
</div>

<ng-template #addTool>
  <app-modal-add-tool (toolAdded)="toolAdded($event)"></app-modal-add-tool>
</ng-template>

<ng-template #loading>
  <div class="container mt-5 mb-5 align-middle">
    <div class="row">
      <div class="col-md-2 offset-md-6">
        <div class="spinner-border text-dark " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
