<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-2 d-flex justify-content-center">
          <a class="fb-ic m-custom-link" href="https://www.facebook.com/alissonwmboucinhas" target="_blank">
            <i class="fa fa-facebook-f fa-lg white-text fa-2x"></i>
          </a>
          <a class="tw-ic m-custom-link" href="https://twitter.com/alissondev13" target="_blank">
            <i class="fa fa-twitter fa-lg white-text fa-2x"></i>
          </a>
          <a class="li-ic m-custom-link" href="https://www.linkedin.com/in/alissonboucinhas/" target="_blank">
            <i class="fa fa-linkedin fa-lg white-text fa-2x"></i>
          </a>
          <a class="ins-ic m-custom-link" href="https://www.instagram.com/alissonboucinhas/" target="_blank">
            <i class="fa fa-instagram fa-lg white-text fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-1 mb-3">© 2018 Copyright:
    <a href="https://bossabox.com/" target="_blank">
      <img src="../../../../assets/images/footer-logo.png" class="ml-1 mb-1 img-logo-footer" alt="bossabox">
    </a>
  </div>
</footer>